.about{
    margin: 30px 0px;
    padding: 20px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.about-img img{
    /* margin-left: 50px; */
    /* flex: 1; */
    border-radius: 10px;
    width: 100%;
    height: auto;
    /* display: flex; */    
    /* float: left; */
    /* border: 2px solid black; */
}
.about-content {
    /* margin-left: 30px; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
/* border: 2px solid black; */
 
}
.about-content h1{
    color: #B2533E;
    font-family: cursive;
    border-bottom: 2px solid #B2533E;
    text-align: center;


}
.about-content p{
    text-align: justify;
    padding:20px;
}

/* ************************** DARK-MODE ********************** */
#dark .about{
    box-shadow: none;
    background-color: grey;
}

#dark .about-content h1{
    color: black;
    border-bottom: 2px solid black;
}

/* ********************************** */
@media (max-width:600px){
    .about{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    .about-content h1{
        margin-top: 10px;
    }
}