.contact {
  margin-left: 150px;
  margin-bottom: 60px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 2px solid black; */
}
.card0 {
  
  border-radius: 0px;
  /* border: 2px solid black; */
}
.contact:hover{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   transition: 0.5s;
}
.card2 {
  margin: 0px 4px;
}
.card2 h6 {
  text-align: center;
}
.card2 .extra {
  /* margin-left: auto;
    margin-right: auto; */
    margin-top: 10px;
    
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 2px solid black; */
}
.card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 30px;
  height: 100%;
  /* width: 100%; */
  /* border: 2px solid black; */
}
.image{
  max-height: 100%;
  width: auto;
}
/* .border-line {
  border-right: 1px solid #e0e0e0;
  

} */

.line {
  height: 1px;
  width: 45%;
  background-color: black;
  opacity: 40%;
  margin-top: 10px;
}
.or {
  display: flex;
  width: 10%;
  font-weight: bold;
  padding: 0px  6px;
  margin-top: 5px;
  /* border-bottom: 1px solid black; */
  /* margin-right: 10px; */
}
::placeholder {
  color: grey;
  opacity: 1;
  font-weight: 300;
}

input,
textarea {
  padding: 10px 12px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 5px;
  margin-top: 2px;
  width: 100%;
  color: black;
  font-size: 1rem;
  letter-spacing: 1px;
}
input:focus,
textarea:focus {
  box-shadow: none !important;
  outline: 1px solid blue !important;
  outline-width: 0px;
}
button:focus {
  box-shadow: none;
  outline-width: 0px;
}
.button {
  background-color: #1e1e2c;
  color: white;
  border-radius: 2px;
  margin-top: 15px;
  padding: 10px;
}
.button:hover {
  background-color: #000;
  color: white;
}
.contact .label {
  font-size: 20px;
  font-weight: semibold;
}
/* ************************************** */
@media (max-width: 600px) {
  .contact {
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }

  .contact .card2 {
    margin: 0;
  }
  .contact .card2 .h6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact .card2 .row {
    padding: 0px;
  }
}
@media only screen and (width: 768px),
  only screen and (width: 1024px),
  only screen and (width: 820px) and (height: 1180px) {
  .contact {
    margin-left: 190px;
  }
}
